
= content_for :title, @service.title
= content_for :description, @service.description
= content_for :keywords, @service.keywords

.head
    .container
        .row
            .col-md-7
                %img{:src => @service.image}
            .col-md-5
                .slide-text
                    .title
                        = @service.title
                    .text
                        = @service.text
                    %a{:hreflang => 'en', :href => '/estimates/new/', :class => 'btn btn-blue'}
                        Get in touch!

- unless @service.advantages.count == 0 then
    %section.advantages
        .container
            %h2.heading
                Advantages of 
                = @service.name
            .owl-carousel{'data-responsive' => '{"1":{"items":1},"600":{"items":2},"991":{"items":3},"1200":{"items":4}}'}
                = render @service.advantages

- unless @service.full_text == nil || @service.capture == nil then
    %section.ideal.gray
        .container
            %h2.heading
                = @service.name
                is ideal for
            .row
                .col-md-7
                    .img
                        %img{:src => @service.capture, :alt => @service.title}
                .col-md-5
                    = @service.full_text.html_safe

- if @service.stages == true then
    = render partial: "layouts/components/stages", locals: { name: @service.name }

- if @service.testimonials == true then
    = render partial: "layouts/components/testimonials", locals: { name: 'What do people say about us'}

- unless @service.steps.count == 0 then
    %section.steps-development
        .container
            %h2.heading
                = @service.steps.count 
                Steps to the fast start of your business

            .wrapper
                = render @service.steps

- if @service.benefits == true then
    = render partial: "layouts/components/benefits"

- if @service.form == true then
    = render partial: "layouts/components/form", locals: { name: @service.name }
