!!! 5
%html{lang: I18n.locale}
  %head
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{content: "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %meta{content: "NONE,NOARCHIVE", name: "robots"}
    = csrf_meta_tag
    = stylesheet_link_tag "rails_admin/rails_admin.css", media: :all
    = javascript_include_tag "rails_admin/rails_admin.js"
    -# Initialize JS simple i18n
    :javascript
      RailsAdmin.I18n.init('#{I18n.locale}', JSON.parse("#{j I18n.t("admin.js").to_json}"))
  %body
    #loading.label.label-warning{style: 'display:none; position:fixed; right:20px; bottom:20px; z-index:100000'}= t('admin.loading')
    .app.app-header-fixed 
      %header.app-header.navbar
        = render "layouts/rails_admin/navigation"
      %aside.app-aside.hidden-xs.bg-dark
        = render "layouts/rails_admin/sidebar_navigation"
      .app-content
        .app-content-body{:'data-pjax-container' => true}= render template: 'layouts/rails_admin/pjax'
