= form_for :estimate,  url: estimates_path do |f|
	.col-md-4
		.subtitle
			Contact information:
		.form-group
			= f.text_field(:name, class: 'form-control', id: 'name', required: true)
			%label{:for => 'name'}
				Name
		.form-group
			= f.text_field(:email, class: 'form-control', id: 'email', required: true)
			%label{:for => 'email'}
				Email
		.form-group
			= f.text_field(:phone, class: 'form-control', id: 'phone', required: true)
			%label{:for => 'phone'}
				Phone number
		.form-group
			= f.text_field(:project, class: 'form-control', id: 'project')
			%label{:for => 'project'}
				Project Title
	.col-md-8
		.row
			.col-lg-12
				.subtitle
					Budged:
				%input{:type => 'hidden', :id => 'budged', :name => 'estimate[budged]'}
				#slider.slider
					#custom-handle.ui-slider-handle
						.number
				.text
					%span
						2 000 $
					%span
						200 000 $
			.col-lg-6
				.subtitle
					Type Project
				.checkbox-inline
					= render partial: "layouts/checkbox", collection: @categories, as: :checkbox, locals: { name: 'estimate[categories]'}
			.col-lg-6
				.subtitle
					Complexity
				.checkbox-inline
					= render partial: "layouts/checkbox", collection: @complexities, as: :checkbox, locals: { name: 'estimate[complexities]'}
		%button{:class => 'btn btn-blue pull-right top30'}
			Get Started!