= content_for :title, 'Estimate project'
%section.head.small
    .container.top30
        .row.top30
            .col-md-12.top30
                .heading
                    Thank you!
            .col-lg-8.col-lg-offset-2
                .slide-text
                    .text
                        We are Infinitely grateful for you contacting us! Responsible person will contact you shortly.
                    %a{:href => '/', :hreflang => 'en', :class => 'btn btn-blue'}
                        Home page
%section.estimate