= content_for :title, 'Estimate Project'

%section.head.small
    .container
        .row
            .col-md-12
                %h1.heading
                    Estimate Project
            .col-lg-8.col-lg-offset-2
                .slide-text
                    .text
                        We are happy to estimate cost and time expenses of your project. Please provide us the most complete information. Fill out the contact form below and hit Get Started! button. Great projects start from here.
%section.estimate
    .container
        .row
            = render partial: "form"

