
<%- if controller_name != 'sessions' %>
<div class="text-center m-t m-b top30">
  <%= link_to "Log in", new_session_path(resource_name) %>
</div>
<% end -%>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
 <div class="text-center m-t m-b top30">
  <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
  </div>
<% end -%>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider) %><br />
  <% end -%>
<% end -%>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
	<div class="line line-dashed text-center"></div>
	<p class="text-center"><small>Do not have an account?</small></p>
  <div class="text-center m-t m-b top30">
  <%= link_to "Sign up", new_registration_path(resource_name), class:"btn btn-blue" %></div>
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
<% end -%>
