

<div class="container w-xl w-auto-xs" ng-init="app.settings.container = false;">
  <a href class="navbar-brand block m-t">Admin site</a>
  <div class="m-b-lg">
    <div class="wrapper text-center">
      <strong>Input your email to reset your password</strong>
    </div>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
	  <%= devise_error_messages! %>
		<div class="list-group list-group-sm">
		        <div class="list-group-item">
		          <%= f.email_field :email, class:"form-control no-border", placeholder: 'Password', autofocus: true %>
		        </div>
		  </div>
	  

	    <%= f.submit "Send", class:"btn btn-lg btn-primary btn-block" %>
	<% end %>
    <%= render "devise/shared/links" %>
  </div>
 
</div>


