@import "base/colors";
@import "base/mixins";

button:focus, button:active,
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus{
  outline: none!important;
  box-shadow:none!important;
}


textarea{
  resize: none;
  &.form-control{
    height: 80px!important;
  }
}
.btn{
  background: $blue;
  height: 50px;
  line-height: 50px;
  padding: 0 30px;
  width: 196px;
  color: #fff;
  border-radius: 25px;
  font-size: 16px;
  text-align: center;
  box-shadow: 0 14px 16px rgba(38, 172, 255,0.2);
  transition: 0.3s all;

  &:hover, &:active, &:focus{
    background: rgb(0, 144, 234);
    color: #fff;
    box-shadow: 0 14px 16px rgba(0, 144, 234,0.2);
  }
}

.form-group{
  position: relative;
  margin-bottom: 30px;
  margin-top: 15px;
  .form-control{
    box-shadow: none;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #D3D7EA;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;

    &+label{
      font-size: 16px;
      position: absolute;
      top: 8px;
      left: 15px;
      font-weight: 100;
      color: #95989A;
      transition: 0.3s all;
    }

    &:focus{
      border-bottom: 1px solid $blue;
    }

    &:focus, &.active{
      &+label{
        font-weight: bold;
        font-size: 13px;
        color: #CBCBCB;
        top: -10px;
      }
    }
  }


}

.checkbox{
  input{
    display: none;

    &+label{
      display: block;
      padding: 0;
      .img{
        border: 1px solid #F2F2F2;
        @include centerIn();
        height: 110px;
        padding: 20px;
        position: relative;
        transition: 0.3s all;
        img{
          max-width: 100%;
          max-height: 100%;
        }

        &:before{
          content: "";
          background: #fff;
          position: absolute;
          top:10px;
          right: 10px;
          border: 1px solid #F2F2F2;
          width: 20px;
          height: 20px;
          transition: 0.3s all;
        }
      }

      .title {
        margin-top: 20px;
      }
    }

    &:checked+label{

      .img{
        border-color: #fff;
        box-shadow: 0 7px 14px rgba(0,0,0,0.16);

        &:before{
          background: $blue;
          border-color: $blue;
        }
        &:after{
          @include icon();
          content: "\e90d";
          color: #fff;
          position: absolute;
          top: 16px;
          right: 14px;
          font-size: 9px;

        }
      }


    }
  }
}

.checkbox-inline{
  width: calc(100% + 10px);
  margin: 20px -5px;
  padding: 0;
  text-align: center;
  display: inline-block;
  .checkbox{
    float: left;
    width: calc(33.3333% - 10px);
    margin: 5px;
  }
}

.slider{
  border-radius: 10px;
  background: #F2F2F2;
  border: 0;
  margin:20px 0;
  &.ui-widget.ui-widget-content{
    border: 0;
  }

  .ui-slider-handle{
    border-radius: 50%;
    background: #fff;
    width: 24px;
    height: 24px;
    border: 0;
    top: -9px;
    box-shadow: 2px 3px 3px rgba(0,0,0,0.1);
    outline: none!important;
    cursor: pointer;

    &:hover, &.ui-state-active{
      .number{
        @include transfrom(translate(-50%, 0%));
        opacity: 1;
      }
    }
  }

  .ui-widget-header{
    background: $blue;
  }
  .number {
    position: absolute;
    top: -32px;
    background: $blue;
    color: #fff;
    width: auto;
    white-space: nowrap;
    padding: 0 10px;
    height: 26px;
    line-height: 26px;
    border-radius: 13px;
    font-weight: bold;
    left: 50%;
    @include transfrom(translate(-50%,-100%));
    opacity: 0;
    transition: 0.3s all;
    outline: none!important;
    box-shadow: none!important;
  }

  &+.text{
    display: inline-block;
    color: #CBCBCB;
    font-weight: bold;
    font-size:13px;
    width: 100%;
    margin-bottom: 30px;
    span{
      display: inline-block;
      &:first-of-type{
        float: left;
      }
      &:last-of-type{
        float: right;
      }
    }
  }
}