@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?n9kff6');
  src:  url('../fonts/icomoon.eot?n9kff6#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?n9kff6') format('truetype'),
  url('../fonts/icomoon.woff?n9kff6') format('woff'),
  url('../fonts/icomoon.svg?n9kff6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-design:before {
  content: "\e918";
}

.icon-benefits-01:before {
  content: "\e90f";
}
.icon-benefits-02:before {
  content: "\e910";
}
.icon-benefits-03:before {
  content: "\e911";
}
.icon-benefits-04:before {
  content: "\e912";
}
.icon-benefits-05:before {
  content: "\e913";
}
.icon-benefits-06:before {
  content: "\e914";
}
.icon-clock:before {
  content: "\e915";
}
.icon-graphic:before {
  content: "\e916";
}
.icon-wallet:before {
  content: "\e917";
}
.icon-upwork:before {
  content: "\e90e";
}
.icon-check:before {
  content: "\e90d";
}
.icon-like:before {
  content: "\e90b";
}
.icon-view:before {
  content: "\e90c";
}
.icon-behance:before {
  content: "\e904";
}
.icon-dribbble:before {
  content: "\e905";
}
.icon-facebook:before {
  content: "\e906";
}
.icon-linked:before {
  content: "\e907";
}
.icon-phone-call:before {
  content: "\e908";
}
.icon-placeholder:before {
  content: "\e909";
}
.icon-twitter:before {
  content: "\e90a";
}
.icon-step01:before {
  content: "\e900";
}
.icon-step02:before {
  content: "\e901";
}
.icon-step03:before {
  content: "\e902";
}
.icon-step04:before {
  content: "\e903";
}
