@import 'mixins';

@media (max-width: 1200px) {

  .steps-development .item .img{
    padding: 20px;
  }
  .head{
    img{
      max-width: 450px;
    }
  }
  .complexity{
    .item{
      .text{
        padding: 0;
      }
    }
  }

  footer{
    .logo{
      display: none;
    }

    .social-wrapper {
      text-align: center;
    }
  }

  #main { padding-bottom: 481px; } 
  footer { 
    margin-top: -481px; /* negative value of footer height */
    height: 481px;
  } 
}

@media (max-width: 991px) {

  #main { padding-bottom: 227px; } 
  footer { 
    margin-top: -227px; /* negative value of footer height */
    height: 227px;
  } 
  .get-started{

    .big-text{

      font-size: 100px;
      top:-30px;
    }
    .steps{
      .item{
        width: 80px;
        height: 80px;
        font-size: 36px;
        padding: 16px 0;
        & ~ .item {
          margin-left: 70px;
          &:before{
            width: 50px;
            left: -75%;
          }
        }
      }
    }
  }

  .complexity{

    .swiper-complexity {
      overflow: hidden;
      width: 100%;
      height: 100%;
    }
    .swiper-slide {
      opacity: 1;
      width: 40%;
      padding: 5px;

      &.swiper-slide-active{
        opacity: 1;
      }
    }

    .swiper-container-3d .swiper-slide-shadow-right,
    .swiper-container-3d .swiper-slide-shadow-left{
      background: transparent;
    }
  }

  .testimonials{
    .swiper-button-next, .swiper-container-rtl .swiper-button-prev{
      right: -60px;

    }
    .swiper-button-prev, .swiper-container-rtl .swiper-button-next{
      left: -60px;

    }

  }

  footer {
    padding: 20px 0 0px 0;
    .copy{
      margin-top: 20px;
    }
    .social-wrapper {
      padding: 15px 0;
    }
  }

  #map{
    margin-top: 40px;
  }

  .estimate{
    margin-bottom: 50px;
  }
}

@media (max-width: 768px) {

  .steps-development .item {
    padding: 0px;
    margin-top: 100px;
    .content{
          padding: 0;
          text-align: center;
       }

    &:nth-of-type(2n){
       padding: 0px;

       .content{
          padding: 0;
       }
    }

    .caption:after{
      left: 50%;
      margin-left: -100px;
    }
    .img {
        position: relative;
        left: inherit;
        width: 100%;
        padding: 30px;
        margin: 0;
        margin-bottom: 30px;
        &:before{
          left: 50%;
          top: -70px;
          font-size: 80px;
          transform: translateX(-50%);
        }

        &:after{
          content: none;
        }
    }
  }
  .stages {
    .item {
       .img:before{
          
          font-size: 108px;
          top: -20px;
       }

       .text {
          font-size: 16px;
        }

        .img{ 

          height: 70px;
          img {
            max-width: 140px;
            max-height: 70px;
          }
      }
    }
  }


  .projects {
    padding: 0px 0 50px 0;
  }

  .heading{
    font-size: 24px;
    padding-bottom: 10px;
    line-height: 40px;
  }

  .head .slide-text .title {

    font-size: 20px;
    margin: 30px 0 15px 0;
  }

  .post{
    img[align=right],
    img[align=left] {
      margin: 40px 0;
    }
  }

  .get-started{
    padding: 50px 0;
    .big-text{
      font-size: 62px;
      top: -55px;
    }

    .steps{
      width: 100%;

      margin: 70px auto;
      .item{
        width: 48%;
        height: 140px;
        border-radius: 0;
        font-size: 36px;
        margin: 1%;
        padding: 30px 0;
        span{
          position: relative;
          bottom: inherit;
          color: #333;
          display: block;
          text-align: center;
          opacity: 1;
          background: transparent;
          left: inherit;
          @include transfrom(translateX(0%));
          white-space: inherit;
        }

        &:hover{
          span{
            color: #fff;
            bottom: inherit;
          }
        }
        & ~ .item {

          margin: 1%;
          &:before{
           content: none;
          }
        }
      }
    }
  }

  .testimonials {

    .swiper-button-next, .swiper-button-prev{
      display: none;
    }

    .swiper-slide{

      padding: 30px 15px 50px 15px;
    }
  }


  .page-404{
    font-size: 100px;
  }

}

@media (max-width: 520px) {


  .services .item {
    padding: 50px 15px;
    .img {
      height: 200px;
    }
  }
  .head .big-image {
      max-width: 80%;
  }

  .complexity {
    .swiper-slide {
      width: calc(100% - 40px);
    }
  }

  .checkbox-inline{
    .checkbox{
      width: calc(50% - 10px);
    }
  }
}