
@mixin font-import($name, $link, $weight) {
   @font-face {
      font-family: $name;
      src: url('/assets/' + $link + '.eot');
      src: url('/assets/' + $link + '.eot?#iefix') format('embedded-opentype'),
      url('/assets/' + $link + '.ttf') format('truetype'),
      url('/assets/' + $link + '.woff') format('woff'),
      url('/assets/' + $link + '.svg#helveticaneuecyrroman') format('svg');
      font-weight: $weight;
      font-style: normal; 
  }    
}

@mixin transfrom($text){
  -webkit-transform: $text;
  -moz-transform: $text;
  -ms-transform: $text;
  -o-transform: $text;
  transform: $text;
}

@mixin animation($text){
  -webkit-animation: $text;
  -o-animation: $text;
  -moz-animation: $text;
  animation: $text;
}

@mixin centerIn() {
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}



$i: 5;
@while $i < 65 {
  .top#{$i} { margin-top: $i+px; }
  $i: $i + 5;
}

$i: 5;
@while $i < 65 {
  .line#{$i} { line-height: $i+px; }
  $i: $i + 5;
}

@mixin icon(){
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}