%section.head
    .container
        .row
            .col-md-7
                %img{:src => '/assets/illustration.svg', :alt => 'Web and mobile development.'}
            .col-md-5
                .slide-text
                    %h1.title
                        Web and mobile development.
                    .text
                        Our agency provides web & mobile app design and development. We have the perfect reputation with tens of satisfied clients. If you are in need of reliable development team, please contact us, and we will be glad to make a long-term collaboration with you!
                    %a{:href => '/estimates/new/', :hreflang => 'en', :class => 'btn btn-blue'}
                        Get in touch!

%section.projects
    .container
        .row
            .col-lg-12
                .heading
                    Recent works
            = render @projects
            .col-md-4.col-sm-6
                .item
                    %a{:href => '/projects/', :hreflang => 'en', :class => 'img next'}
                        View All
                        %img{:src => '/assets/arrow.svg', :alt => 'Recent works'}

= render partial: "layouts/components/started"

%section.complexity.blue
    .container
        .owl-carousel{'data-responsive' => '{"1":{"items":1},"600":{"items":2},"991":{"items":3},"1200":{"items":3}}'}
            = render @complexities

= render partial: "layouts/components/testimonials", locals: { name: 'Testimonials'}