%section.head.small
    .container
        .row
            .col-md-12
                %h1.heading
                    Lorem ipsum dolor sit amet
            .col-lg-8.col-lg-offset-2
                .slide-text
                    .text
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
%section.complexity
    .container
        .row
            .swiper-complexity
                .swiper-wrapper
                    = render @complexities

= render partial: "layouts/components/technologies"
= render partial: "layouts/components/benefits"
= render partial: "layouts/components/form", locals: { name: '' }