= content_for :title, @complexity.title
= content_for :description, @complexity.description
= content_for :keywords, @complexity.keywords

%section.head
	.container
		.row
			.col-md-12
				%img{:src => @complexity.icon, :class => 'big-image'}
			.col-md-6.col-md-offset-3
				.slide-text.top30
					%h1.heading
						= @complexity.name
					.text.top30
						= @complexity.text
					%a{:href => '/estimates/new/', :class => 'btn btn-blue'}
						Get in touch!

%section.services.gray
	.container
		.row
			.col-xs-12
				%h2.heading
					Services
		.owl-carousel{'data-responsive' => '{"1":{"items":1},"1000":{"items":2}}'}
			= render partial: "complexities/service", collection: @complexity.services, as: :service

- if @complexity.stages == true then
	= render partial: "layouts/components/stages", locals: { name: '' }

= render partial: "layouts/components/technologies"

- if @complexity.benefits == true then
	= render partial: "layouts/components/benefits"

- if @complexity.form == true then
	= render partial: "layouts/components/form", locals: { name: @complexity.name }