= form_for :contact,  url: contacts_path do |f|
    .form-group
        = f.text_field(:name, class: 'form-control', id: 'name', required: true)
        %label{:for => 'name'}
            Name
    .form-group
        = f.text_field(:email, class: 'form-control', id: 'email', required: true)
        %label{:for => 'email'}
            Email
    .form-group
        = f.text_field(:phone, class: 'form-control', id: 'phone', required: true)
        %label{:for => 'phone'}
            Phone number
    .form-group
        = f.text_area :message, class: 'form-control', id: 'message'
        %label{:for => 'message'}
            Message
    .row
        .col-lg-12
            %button{:class => 'btn btn-blue pull-right top20'}
                Get Started!