= content_for :title, 'Contact Us'

%section.head.small
    .container
        .row
            .col-md-12
                %h1.heading
                    Contact Us
            .col-lg-8.col-lg-offset-2
                .slide-text
                    .text
                        We are happy to be in touch with you! Please fill out the contact form below and hit Get Started! button. Let’s contact.
%section.estimate
    .container
        .row
            .col-md-4
                .subtitle
                    Contact information:
                = render partial: 'contacts/form'
            .col-md-8
                #map 

%script{:src => "https://maps.googleapis.com/maps/api/js?key=" + @google_api_key + "&callback=initMap", :async => true, :defer => true} 