
.col-md-4.col-sm-6
    .item
        %a{:href => project_path(project), :hreflang => 'en', :class => 'img'}
            %img{:src => project.image, :alt => project.name}
        .content
            %a{:href => project_path(project), :hreflang => 'en', :class => 'title'}
                = project.name
            %ul.nav.nav-pills
                = render project.categories