
= content_for :title, 'Our Works'

%section.head.small
    .container
        .row
            .col-md-12
                %h1.heading
                    Our Works
                .behance
                    %i.icon-behance
                    %i.icon-like
                    %span.count
                        = @appreciations
                    %i.icon-like
                    %span.count
                        = @views
            .col-lg-8.col-lg-offset-2
                .slide-text
                    .text
                        We are proud of projects we developed. Our designers have large experience creating glorious and unrepeatable UI/UX responsive designs. Please check them below. We will be happy to create some new awesome project for you!


%section.projects
    .container
        .row
            .col-lg-12
                %ul.nav.nav-pills
                    %li{:class => 'active'}
                        %a{:hreflang => 'en', :href => '/projects/'}
                            All
                    = render @categories
            = render @projects