= content_for :title, @project.title
= content_for :description, @project.description
= content_for :keywords, @project.keywords

%section.head.small
    .container
        .row
            .col-md-12
                %h1.heading
                    = @project.name
                %ul.nav.nav-pills
                    = render @project.categories
                - unless @project.behance == nil then
                    .behance
                        %i.icon-behance
                        %i.icon-like
                        %span.count
                            = @appreciations
                        %i.icon-like
                        %span.count
                            = @views
        .row
            .col-lg-8.col-lg-offset-2
                .slide-text
                    .text
                        = @project.text

%section.project
    .container
        .row
            .col-lg-12
                .images{:style => 'background-color:' + @project.color}
                    = render @project.slides


%section.projects
    .container
        .row
            .col-lg-12
                .heading
                    Other works
            = render @projects