%section.head.small
    .container
        .row
            .col-md-12
                %p.page-404
                    404
                .heading
                    Sorry! No such page!
            .col-lg-8.col-lg-offset-2
                .slide-text
                    .text
                        The page you were looking for doesn't exist.
                        %br
                        You may have mistyped the address or the page may have moved.
                    %a{:href => '/', :hreflang => 'en', :class => 'btn btn-blue'}
                        Home page
%section.estimate



