
<div class="row top30">
  <div class="col-sm-4 col-sm-offset-4 top30">
  <div class="text-center top30">Admin panel</div>
  <div class="top30">
    <div class="wrapper text-center">
      <strong>Sign in to get in touch</strong>
    </div>

    <%= form_for(resource,  as: resource_name, url: session_path(resource_name)) do |f| %>

          <div class="list-group list-group-sm top30">
        <div class="list-group-item">
          <%= f.email_field :email, class:"form-control no-border", placeholder: 'Email', autofocus: true %>
        </div>
        <div class="list-group-item">
          <%= f.password_field :password, class:"form-control no-border", placeholder: 'Password', autocomplete: "off" %>
        </div>
      </div>
      <div class="text-center">
      <%= f.submit "Log in", class:"btn btn-blue top30" %>
    </div>
     
     
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
  
</div>


</div>
