.col-lg-3.col-md-4.col-sm-6
	.item
		%a{:href => post_path(post), :hreflang => 'en', :class => 'img'}
			%img{:src => post.image}
		%a{:href => post_path(post), :hreflang => 'en', :class => 'title'}
			= post.name