%section.head.small
    .container
        .row
            .col-md-12
                %h1.heading
                    Blog
            .col-lg-8.col-lg-offset-2
                .slide-text
                    .text
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
%section.projects
    .container
        .row
            = render @posts