= content_for :title, @post.title
= content_for :description, @post.description
= content_for :keywords, @post.keywords


%section.head.small
    .container
        .row
            .col-md-12
                %h1.heading
                    = @post.name
            .col-lg-8.col-lg-offset-2
                .slide-text
                    .text
                        = @post.description

%section.post
    .container
        .row
            .col-md-12
                %img{:src => @post.image, :alt => @post.name}
                = @post.text.html_safe

- unless @posts.empty? then
    %section.projects
        .container
            .row
                .col-lg-12
                    .heading
                        Other posts
            = render @posts