
@import "base/colors";
@import "base/icons";
@import "base/forms";
@import "base/mixins";

@include font-import('icomoon', 'icomoon', 'normal');
@include font-import('Òpen Sans', 'OpenSansLight', '100');
@include font-import('Òpen Sans', 'OpenSansRegular', '400');
@include font-import('Òpen Sans', 'OpenSansBold', '700');
@include font-import('Òpen Sans', 'OpenSansSemiBold', '600');
@include font-import('Òpen Sans', 'OpenSansExtraBold', '800');


html, body, #wrap { height: 100%; }
body > #wrap {height: auto; min-height: 100%;}
#main { padding-bottom: 354px; } 
footer { 
  position: relative;
  margin-top: -354px; /* negative value of footer height */
  height: 354px;
  clear:both;
} 



body{
  font-family: 'Open Sans';
  font-size: 13px;
  font-weight: 100;
  color: #333333;

}

a:hover{
  text-decoration: none;
}

header{
  height: 50px;
  padding: 15px 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  img{
    height: 20px;
  }
}

nav{
  position: absolute;
  transition: 0.3s all;
  @include transfrom(translateY(-100%));
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 10;
  padding: 80px 0;
  box-shadow: 0 3px 6px rgba(38, 172, 255, 0.16);

  .nav-big{
    &>li>a{
      font-size: 22px;
      position: relative;
      text-align: center;
      margin: 20px 0;
      padding-bottom: 20px;
      color: #333;
      &:before{
        content: "";
        width: 70px;
        height: 1px;
        position: absolute;
        bottom:0;
        left: 50%;
        @include transfrom(translateX(-50%));
        background: $blue;
      }
    }
  }

  .title{
    font-weight: bold;
    color: #333;
    font-size: 14px;
    margin: 30px 0 10px 0;
  }

  .nav-project{
    padding: 0;
    margin: 0 -7px;
    list-style-type: none;
    font-size: 14px;
    a{
      color: #949BBF;
      padding: 7px;
      display: block;
      &:hover{
        text-decoration: none;
        color: $blue;
      }
    }
  }

  .more{
    display: inline-block;
    float: right;
    background: url(./arrow-blue.svg);
    background-size: contain;
    background-position: right bottom;
    background-repeat: no-repeat;
    color: $blue;
    padding: 0px 25px 15px 0px;
    margin-top: 30px;
  }


  .nav>li>a:focus, .nav>li>a:hover {
    background-color: transparent;
  }
}

.open-menu{

  nav{
    @include transfrom(translateY(0));
    opacity: 1;
  }

    .toogle-menu {
      span {
        background: none;
        &::before {
          top: 0;
          transform: rotate(45deg);
        }
        &::after {
          bottom: 0;
          transform: rotate(-45deg);
        }

        &::before, &::after {
          transition-delay: 0s, 0.3s;
        }
      }

    }

}

.heading{
  text-align: center;
  font-size: 40px;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 10px;
  color: #333;
  font-weight: 100;
  line-height: 60px;
  &:after{
    content: "";
    position: absolute;
    bottom:0;
    width: 200px;
    left: 50%;
    margin-left: -100px;
    background: $lightBlue;
    height: 1px;
  }
}


.subtitle{
  font-size: 16px;
  font-weight: bold;
  color: #333;
}


.head{
  padding: 110px 0px 80px 0px;
  text-align: center;
  background: linear-gradient(to bottom, #F7FBFD, #ffffff);
  .nav.nav-pills {
      display: table;
      margin: 0 auto -9px auto;
      font-size: 11px;
  }

  .big-image{
    width: 300px;
    display: table;
    margin: 0 auto;
  }
  .nav > li > a {
      font-size: 13px;
      color: #AAAAAA;
      font-weight: 100;
      border-radius: 20px;
      padding: 9px 15px;
  }
  &.small{
    padding: 70px 0px 0px 0px;
    font-size: 100%;
  }
  .slide-text{
    .title{
      font-size: 30px;
      font-weight: 100;
      margin: 40px 0;
    }
    .text{
      color: #949BBF;
      margin-bottom: 40px;
    }
  }

  .behance{
    background: $blue;
    color: #fff;
    height: 28px;
    border-radius: 14px;
    line-height: 28px;
    display: table;
    margin: 20px auto;
    font-weight: bold;
    padding: 0 15px;
    i{
      padding: 0 5px;
      font-size: 11px;
      &.icon-behance{
        font-size: 16px;
        float: left;
        padding-left: 0;
        line-height: 28px;
      }
    }
  }
}

.projects{

  padding: 50px 0;
  .nav{
    display: table;
    margin:30px auto;
  }

  .item{
    margin: 25px 0 35px 0;
    .img{
      display: block;
      transition: 0.3s all;
      box-shadow: 10px 20px 15px rgba(0, 0, 0, 0.01);
      margin-bottom: 42px;
      background: $blue;
      height: 290px;
      width: 100%;
      position: relative;
      overflow: hidden;
      img{
        position: absolute;
        top:50%;
        left:50%;
        @include transfrom(translate(-50%, -50%));
        min-width: 100%;
        min-height: 100%;
        height: 100%;
      }

      &.next{
        color: #fff;
        font-size: 30px;
        text-transform: uppercase;
        padding: 100px 40px;
        img{
          position: relative;
          top:0;
          left: 0;
          @include transfrom(translate(0%, 0%));
          min-width: inherit;
          min-height: inherit;

        height: initial;
        }

      }
    }

    .content{
      height: 83px; 
    }
    .title{
      font-size: 20px;
      color: #95989A; 
      max-height: 55px;
      overflow: hidden;
      display: block;
      &:hover{
        text-decoration: none;
        color: $blue;
      }
    }

    .nav{
      display: block;
      margin: 0 -10px;
    }

    .nav>li>a{
      font-size: 13px;
      padding: 5px 10px;
      border-radius: 14px;
      color: #AAAAAA;
    }

    .nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover{
      background: transparent;
      font-weight: 100;
    }

    &:hover{
      .img{
        box-shadow: 0px 10px 30px rgba(0,0,0,0.3);
        text-decoration: none;
      }
      .title{
        color: $blue;
      }

    }
  }
}

.nav>li>a{
  font-size: 16px;
  color: #AAAAAA;
  font-weight: 100;
  border-radius: 20px;
  padding: 9px 20px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  color: #fff;
  font-weight: 600;
  background-color: $blue;
}

.get-started{
  overflow: hidden;
  padding: 105px 0;
  background: #FCFCFC;
  color: #939393;
  .text{
    margin-top: 20px;
  }

  .big-text {
    color: #F5F5F5;
    font-size: 140px;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
    position: absolute;
    width: 150%;
    left: 50%;
    top:-50px;
    @include transfrom(translateX(-50%));
  }


  .steps{
    display: table;
    margin: 50px auto;
    z-index: 2;
    position: relative;
    .item{
      width: 100px;
      height: 100px;
      color: $blue;
      border-radius: 50%;
      box-shadow: 10px 13px 20px rgba(0,0,0,0.06);
      background: #fff;
      text-align: center;
      font-size: 44px;
      padding: 20px 0px;
      float: left;
      cursor: pointer;
      transition: 0.3s all;
      position: relative;
      &:hover{
        background: $blue;
        color: #fff;
        span{
          bottom: -40px;
          opacity: 1;
        }
      }

      span{
        position: absolute;
        background: $blue;
        color: #fff;
        font-size: 13px;
        border-radius: 15px;
        padding: 6px 15px;
        display: inline-block;
        bottom: -100%;
        opacity: 0;
        white-space: nowrap;
        left: 50%;
        transition: 0.3s all;
        @include transfrom(translateX(-50%));
      }

      &~.item{
        margin-left: 123px;
        &:before{
          content: "";
          height: 1px;
          width: 90px;
          background:$blue;
          position: absolute;
          top:50%;
          left: -100%;
        }
      }

    }
  }
}

.blue{

  background: $blue url(./dev-3.svg);
  background-position: center center;
  background-repeat: no-repeat;
  padding: 130px 0;

  .heading{
    color: #fff;
  }
  .owl-dots {
    .owl-dot{
      background: $lightBlue;
      &:before{
        background: #fff;
      }
    }
  }

}
.complexity{

  .swiper-slide{

    width: 33.33333333%;
    padding: 0 15px;
  }
  .item{
    background: #fff;
    text-align: center;
    padding: 30px 30px 50px 30px;
    color: #989898;
    margin: 20px 0;
    .heading{
      font-size: 20px;
      margin-top: 20px;
      padding-bottom: 10px;
      color: #333;

    }

    .img{
      display: flex;
      height: 170px;
      align-items: flex-end;
      text-align: center;
      justify-content: center;
      img{
        max-width: 100%;
        max-height: 100%;
      }
    }

    .text{

      padding: 0 20px;
      line-height: 20px;
      height: 80px;
      overflow: hidden;
    }

    .subtitle{
      margin: 30px 0 10px 0;
      font-size: 16px;
      font-weight: bold;
      color: #333;
    }
  }

}

.testimonials{

  overflow: hidden;
  padding: 100px 0;
  background: #FCFCFC;

  .swiper-testimonials {
    overflow: hidden;
    width: 100%;
    height: 100%;
    &:before{
      content: "";
      position: absolute;
      background: #fff;
      opacity: 0.8;
      width: 110%;
      height: 60%;
      display: block;
      top: 17%;
      left: -5%;
    }
  }
  .swiper-slide {
    text-align: center;
    font-size: 13px;
    background: #fff;
    padding: 40px 40px 60px 40px;
    margin: 40px 0 80px 0;
    box-shadow: 0 10px 16px rgba(0,0,0,0.06);
    width: 60%;
    opacity: 0.4;


    &.swiper-slide-active{
      opacity: 1;
    }

    .img{
      width: 126px;
      height: 126px;
      border-radius: 50%;
      background: #F2F2F2;
      display: inline-block;
      overflow: hidden;
      margin: 20px 0;
      img{
        max-height: 100%;
      }

    }


    .title{
      font-size: 16px;
      font-weight: bold;
      margin: 10px 0;
    }

  }

  .swiper-container-3d .swiper-slide-shadow-right,
  .swiper-container-3d .swiper-slide-shadow-left{
    background: transparent;
  }
  .swiper-pagination-bullet {
    width: 36px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    font-size: 12px;
    color:#333;
    opacity: 1;
    background: #EFEFEF;
  }
  .swiper-pagination-bullet-active {
    color:#fff;
    background: $blue;
  }

  .swiper-button-next, .swiper-container-rtl .swiper-button-prev{
    background-image: url(./arrow-slide.svg);
    right: -130px;

  }
  .swiper-button-prev, .swiper-container-rtl .swiper-button-next{
    background-image: url(./arrow-slide.svg);
    @include transfrom(rotate(180deg));
    left: -130px;

  }

  .swiper-button-next, .swiper-button-prev {
    position: absolute;
    top: 50%;
    width: 152px;
    height: 60px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    -moz-background-size: 27px 44px;
    -webkit-background-size: 27px 44px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}


footer{
  background: #FBFBFB;
  color: #95989A;
  padding: 50px 0 0px 0;
  .title{
    color: #333;
  }

  .content{
    text-align: center;
    .title{
      font-size: 24px;
      padding-bottom: 20px;
    }

    .btn{
      margin-top: 30px;
    }
  }

  .options{
    .item{
      display: inline-block;
      width: 100%;
      padding: 15px 0;
      .img{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background: #F2F2F2;
        color: #CECECE;
        font-size: 28px;
        float: left;
        margin-right: 15px;
        text-align: center;
        line-height: 60px;
      }

      .text{
        float: left;
        width: calc(100% - 75px);
        p{
          margin-bottom: 0;
        }
        .title{
          font-size: 16px;
          font-weight: bold;
          margin-bottom: 5px;
        }
      }
    }
  }

  .logo{
    width: 70px;
  }
  .social-wrapper{
    padding: 15px 0;
    .title{
      font-size: 16px;
      font-weight: bold;
      margin-top: 10px;
      margin-bottom: 5px;
    }

    .socials{
      display: inline-block;
      list-style-type: none;
      padding: 0;
      margin: 0;
      li{
        float: left;
        a{
          background: #F2F2F2;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          font-size: 18px;
          line-height: 40px;
          color: #CECECE;
          text-align: center;
          display: block;
          transition: 0.3s all;

          &:hover{
            background: $blue;
            color: #fff;
            text-decoration: none;
          }
        }

        &~li{
          margin-left: 10px;
        }
      }

    }
  }

  .copy{
    text-align: center;
    color: #95989A;
    background: #F2F2F2;
    margin-top: 50px;
    padding: 15px 0;
  }
}


.toogle-menu {
  background: transparent;
  color: #fff;
  height: 50px;
  width: 60px;
  border: 0;
  padding: 0 5px;
  position: absolute;
  top: -14px;
  right: 0;
  z-index: 10;
  display: block;
  span{
    display: block;
    position: absolute;
    top: 23px;
    left: 17px;
    right: 17px;
    border-radius: 3px;
    width: 17px;
    height: 3px;
    background: $blue;
    &::before, &::after {
      position: absolute;
      display: block;
      left: 0;
      width: 26px;
      border-radius: 3px;
      height: 3px;
      background-color: $blue;
      content: "";

      transition-duration: 0.3s, 0.3s;
      transition-delay: 0.3s, 0s;
    }
    &::before {
      top: -8px;
      transition-property: top, transform;
    }
    &::after {
      bottom: -8px;
      transition-property: bottom, transform;
    }

  }

}


.pagination{
  display: table;
  margin: 50px auto;
  &>li~li{
    margin-left: 10px;
  }
}

.pagination>li {
  display: inline-block;
}

.pagination>li>a, .pagination>li>span,
.pagination>li:first-child>a, .pagination>li:first-child>span,
.pagination>li:last-child>a, .pagination>li:last-child>span{
  width: 36px;
  height: 36px;
  text-align: center;
  line-height: 36px;
  font-size: 16px;
  color:#333;
  opacity: 1;
  display: block;
  border-radius: 50%;
  border: 0;
  background: #EFEFEF;
  padding: 0;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: $blue;
}

.project{
  .images{
    box-shadow: 0 0 30px rgba(0,0,0,0.15);
  }
  img{
    width: 100%;
  }
}

.estimate{
  margin-bottom: 150px;
}

#map{
  height: 400px;
  box-shadow: 0 13px 16px rgba(0,0,0, 0.25);
  .gmnoprint {
    display: none;
  }
}

.post{
  img{
    max-width: 100%;
    box-shadow: 0 10px 20px rgba(38, 172, 255,0.3);
    margin-bottom: 20px;

    &[align=right]{
       margin: 30px;
    }

    &[align=left]{
       margin: 30px;
    }
  }

  h2{
    font-size: 20px;
    color: #333;
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 100;
    line-height: 30px;
  }

  h3{
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-top: 20px;
    margin-bottom: 10px;
  }


ol {
    counter-reset: myCounter;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: table;
    li {
      position: relative;
      padding: 15px 20px 15px 50px;
      h3 {
          margin-top: 0;
      }
      &:before {
        counter-increment: myCounter;
        content: counter(myCounter);
        color: white;
        background: $blue;
        border-radius: 50%;
        width: 27px;
        height: 27px;
        display: block;
        text-align: center;
        line-height: 27px;
        font-weight: bold;
        font-size: 13px;
        position: absolute;
        left: 10px;
        top: 10px;
      }
    }
  }

}

.page-404{
  color: $blue;
  font-weight: 900;
  font-size: 180px;
  text-shadow: 0 14px 16px rgba(38, 172, 255,0.2);
}

.gray{
  background: #FCFCFC;
  padding: 60px 0;
}


.services{
  .item{
    padding: 60px;
    margin:30px 0;
    text-align: center;
    transition:0.3s all;

    &:hover{
      background:#fff;
      box-shadow: 0 0 36px rgba(0,0,0,0.06);
    }
    .text{
      color: #949BBF;
      margin: 20px 0 30px 0;
    }

    .img{
      height: 300px;
      @include centerIn();
      img{
        width: 100%;
        max-height: 100%;
      }
    }
  }
}

.stages{

  padding: 150px 0;
  text-align: center;

  .wrapper{
    counter-reset: myCounter;
    padding: 60px 0;

  }

  .owl-item{
    &~.owl-item{
      &:before{
        content: "";
        background: url(./arrow-next.svg);
        width: 80px;
        height: 9px;
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        top: 120px;
        left: -50px;
      } 
    }


  }
  .item{
    width: 100%;
    padding: 30px;
    margin: 30px 0;
    display: inline-block;
    position: relative;
    .img{
      padding-top: 30px;
      position: relative;
      height: 140px;
      width: 100%;
      img{
        max-width: 140px;
        max-height: 100px;
        z-index: 2;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

       &:before {
        counter-increment: myCounter;
        content: counter(myCounter, decimal-leading-zero);
        color: #F4F9FE;
        display: block;
        text-align: center;
        line-height: 27px;
        font-weight: 800;
        font-size: 158px;
        position: absolute;
        left: 50%;
        top: 10px;
        transform: translate(-50%, 0);
        z-index: 0;
      }
    }



    .text{
      font-size: 18px;
      margin-top: 20px;
    }
  }
}

.technologies{
  .item{
    margin: 30px 0;
    padding: 30px;
    background: #fff;
    width: 100%;
    .title{
      font-size: 20px;
      position: relative;
      text-align: center;
      padding: 10px 0;
      margin: 20px 0;
      &:after{
        content: "";
        position: absolute;
        bottom:0;
        width: 200px;
        left: 50%;
        margin-left: -100px;
        background: $blue;
        height: 1px;
      }
    }

    .option{
      color: #989898;
      font-size: 13px;
      margin: 10px 0;
      display: inline-block;
      width: 100%;
      .img{
        background: #F4F9FE;
        width: 61px;
        height: 61px;
        border-radius: 4px;
        padding: 5px;
        @include centerIn();
        float: left;
        img{
          max-width: 100%;
          max-height: 100%;
        }
      }
      .content{
        padding: 10px;
        float: left;
        width: calc(100% - 61px);

        .subtitle, .text{
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }

    }
  }
}

.owl-dots {
  display: table;
  margin: 0 auto;

  .owl-dot {
      border-radius: 50%;
      background: #f2f2f2;
      width: 14px;
      height: 14px;
      display: inline-block;
      margin: 8px;
      position: relative;
      &:before{
        content:"";
        width: 0;
        height: 0;
        background: $blue;
        border-radius: 50%; 
        transition:0.3s all;
        position: absolute;
        left: 50%;
        top:50%;
        transform:translate(-50%, -50%);
      }

      &.active{
        &:before{
          width:110%;
          height: 110%;
        }
      }
  }
}


.benefits{
  .item{
    padding: 30px;
    text-align: center;
    font-size: 20px;
    color: #fff;
    transition:0.3s all;
    margin: 30px 0;
    min-height: 310px; 
    .img{
      position: relative;
      padding: 30px 0;
      margin-bottom: 30px;
       &:after{
        content: "";
        position: absolute;
        bottom:0;
        width: 0px;
        left: 50%;
        margin-left:0px;
        background: $blue;
        height: 1px;
        transition:0.3s all;
      }

      i{
        font-size: 70px;
        transition:0.3s all;
      }

    }
    &:hover{
      background: #fff;
      color: #333;
      box-shadow: 0 0 36px #0099F8;

      .img{
        &:after{
          width: 100px;
          margin-left:-50px;
        }
      }
      i{
        color: $blue;
      }
    }
  }
}

.contact{

  .img{
    text-align: center;
    padding: 70px 0px 0 0px;
    img{
      max-width: 70%;
    }
  }
  form{
    box-shadow: 0 0 36px rgba(0,0,0,0.06);
    background: #fff;
    padding: 40px;
  }
}

.advantages{
  padding: 100px 0;
  .item{
    margin: 40px 0;
    padding: 30px;
    text-align: center;
    color: #95989A;
    transition:0.3s all;
    .text{
      margin: 20px 0;
    }
    .img{
      font-size: 80px;
      color: $blue;
      transition:0.3s all;
      position: relative;
      margin-bottom: 30px;
      padding: 20px 0;
      &:after{
        content: "";
        position: absolute;
        bottom:0;
        width: 0px;
        left: 50%;
        margin-left:0px;
        background: #EFEFEF;
        height: 1px;
        transition:0.3s all;
      }

    }

     &:hover{
      background: $blue;
      color: #fff;
      .subtitle{
        color: #fff;
      }
      .img{
        color: #fff;
        &:after{
          width: 100px;
          margin-left:-50px;
          background: #fff;
        }
      }
     }
  }
}

.ideal{
  .img{
    background: #fff;
    padding: 30px;
    box-shadow: 0 0 36px rgba(0,0,0,0.06);
    margin: 50px 0;
    img{
      max-width: 100%;
    }
  }

  ul{
    padding: 0;
    margin: 50px 0;
    list-style-type: none;
    font-size: 18px;
    li{
      position: relative;
      padding: 20px 15px 20px 50px;
      &:before{
        content: "";
        height: 1px;
        width: 37px;
        background: $blue;
        position: absolute;
        left: 0;
        top:50%;
      }

    }
  }
}

.steps-development{
  padding: 100px 0;
  .wrapper{
    counter-reset: myCounter;
  }
  .item{
    position: relative;
    margin: 60px 0; 
    padding-left: 50%;
    min-height: 280px;
    .caption{
      font-size: 20px;
      position: relative;
      margin-bottom: 30px;
      padding-bottom: 10px;
      &:after{
        content: "";
        position: absolute;
        bottom:0;
        width: 200px;
        left: 0px;
        background: $lightBlue;
        height: 1px;
        transition:0.3s all;
      }

    }

    .content{
      padding: 20px 60px;
      p{
        color: #95989A;
        margin-bottom: 20px;
      }
    }
    .img{
      width: calc(50% - 100px);
      position: absolute;
      left: 100px;
      background: #F4F9FE;
      padding: 60px;
      height: 100%;
      @include centerIn();
      img{
        max-width: 100%;
        height: 100%;
      }
      &:before {
        counter-increment: myCounter;
        content: counter(myCounter, decimal-leading-zero);
        color: $blue;
        display: block;
        text-align: center;
        font-weight: 800;
        font-size: 110px;
        position: absolute;
        left: -100px;
        top: 0;
        z-index: 0;
      }

      &:after{
        content: "";
        position: absolute;
        top: 150px;
        width: 200px;
        left: -100px;
        background: $lightBlue;
        height: 1px;
        transition: 0.3s all;
      }
    }
    
    &:nth-of-type(2n){
      padding-left: 0px;
      padding-right: 50%;
      .img{
        left: inherit;
        right: 0;
      }
      .content{
        padding-left: 0;
      }
    }
  }
}
@import "base/media";