%section.contact.gray
	.container
		.row
			.col-sm-7
				%h2.heading
					Order development of the
					= name
					right now!
				.img
					%img{:src => '/assets/letter.svg'}
			.col-sm-5
				= render partial: "contacts/form"