%section.stages
    .container
        .row
            .col-xs-12
                %h2.heading
                    The Main Stages of 
                    = name 
                    Development
            .col-xs-12
                .wrapper.owl-carousel{'data-responsive' => '{"1":{"items":1},"600":{"items":2},"991":{"items":3},"1200":{"items":4}}'}
                    = render @stages
        .text-center
            %a{:href => '/estimates/new/', :class => 'btn btn-blue'}
                Get in touch!