%section.get-started
    .container
        .row
            .col-lg-12
                .heading
                    The development workflow from the very beginning.
        .row
            .col-md-6
                .text
                    %p.subtitle
                        Enquiry and estimation.
                    %p
                        You have the idea of your project, or even better - the specification document which describes every detail of it? Send us enquiry with description of your project, and we are happy to answer you with estimated costs and time-frames. We also are happy to offer you several options for implementation, so you are able to see which best fits for your purposes.
                        %br
                        %br
            .col-md-6
                .text
                    %p.subtitle
                        Wireframing and Design.
                    %p
                        On the design stage you will get the most complete visualization of your project. Our UI/UX experts are happy to create you absolutely unique, clear and modern appearance of your future project.
                        %br
                        %br
        .row
            .col-md-6
                .text
                    %p.subtitle
                        Programming
                    %p
                        Once PSD mockups are ready to be coded, the development process begins. The right optimized code assures successful project performance during its lifetime. 
                        %br
                        %br
            .col-md-6
                .text
                    %p.subtitle
                        Successful project finalizing.
                    %p
                        After the main development, the additional works and adjustments on the project are available. Testing is the finalizing stage which allows to be sure, that the project is completely works reliable, is scalable and can handle expected loads. 
                        %br
                        %br
            .col-md-12
                .text.text-center
                    .subtitle
                        We are also happy to do the maintenance project works.

        .row
            .col-lg-12
                .steps
                    .big-text
                        Get started
                    .item
                        %i.icon-step01
                        %span
                            Enquiry and estimation.
                    .item
                        %i.icon-step02
                        %span
                            Wireframing and Design.
                    .item
                        %i.icon-step03
                        %span
                            Programming.
                    .item
                        %i.icon-step04
                        %span
                            Successful project finalizing.
            .col-lg-12
                .text-center.top30
                    %a{:href => '/estimates/new/', :hreflang => 'en', :class => 'btn btn-blue'}
                        Get started!
