%section.technologies.gray
	.container
		.row
			.col-xs-12
				%h2.heading
					Technologies
		.owl-carousel{'data-responsive' => '{"1":{"items":1},"991":{"items":2},"1200":{"items":3}}'}
			= render @groups