%section.testimonials
    .container
        .row
            .col-lg-12
                .heading
                    = name
            .col-lg-8.col-lg-offset-2
                .swiper-testimonials
                    .swiper-wrapper
                        = render @testimonials
                    .swiper-pagination
                    .swiper-button-next
                    .swiper-button-prev