= content_for :title, @category.name
= content_for :description, @category.text


%section.head.small
    .container
        .row
            .col-md-12
                %h1.heading
                    = @category.name
                .behance
                    %i.icon-behance
                    %span.count
                        =@appreciations
                    %i.icon-view
                    %span.count
                        =@views
            .col-lg-8.col-lg-offset-2
                .slide-text
                    .text
                        = @category.text
%section.projects
    .container
        .row
            .col-lg-12
                %ul.nav.nav-pills
                    %li
                        %a{:hreflang => 'en', :href => '/projects/'}
                    = render @categories
            = render @category.projects