.checkbox
	%input{:type => 'checkbox', :name => name + '[]', :id => name + checkbox.id.to_s, :value => checkbox.id}
	%label{:for => name + checkbox.id.to_s}
		.img
			%img{:src => checkbox.image}
		.title
			= checkbox.name