<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	
    <title><%= content_for?(:title) ? yield(:title)  + ' DEV-3' : "Сreative web agency DEV-3" %></title>

    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Web-design and development." %>">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

    <link rel="alternate" href="https://www.dev-3.com/" hreflang="en" />
    <meta name="keywords" content="<%= content_for?(:keywords) ? yield(:keywords) : "Web-design and development." %>">
  	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  	<%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  	<%= csrf_meta_tags %>
<%= favicon_link_tag 'favicon.png', :type => 'image/png', :rel => 'shortcut icon' %>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-81270415-1', 'auto');
  ga('send', 'pageview');

</script>

<!-- Yandex.Metrika counter --><script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter32193614 = new Ya.Metrika({ id:32193614, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true, trackHash:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="https://mc.yandex.ru/watch/32193614" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<header>
    <div class="container">
       <div class="row">
           <div class="col-lg-12">
               <a href="/" hreflang="en">
                   <img src="/assets/logo-blue.svg">
               </a>

               <button class="toogle-menu" data-toogle-menu>
                   <span></span>
               </button>
           </div>
       </div>
    </div>
</header>
<nav>
    <div class="container">
        <div class="col-md-3">
            <ul class="nav nav-big">
                <%=  render @menu %>
            </ul>
        </div>
        <div class="col-md-9 hidden-sm hidden-xs">
            <div class="row">
                <%=  render partial: "layouts/category", collection: @categories, as: :category %>  
                <div class="col-lg-12 col-md-6 top30">
                    <a href="/projects/" hreflang="en" class="more">View All</a>
                </div>
            </div>
        </div>
    </div>
</nav>

<div id="wrap">
    <div class="clearfix" id="main">
        <%= yield %>
    </div> 
</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 hidden-sm hidden-xs">
                <div class="options">
                    <div class="item">
                        <div class="img">
                            <i class="icon-phone-call"></i>
                        </div>
                        <div class="text">
                            <div class="title">Contact Us</div>


                            <p>Email: <a hreflang="en" href="mailTo:ello@dev-3.com">hello@dev-3.com</a></p>
                            <p>Phone/Viber: <a hreflang="en" href="tel:+380636425214">+380636425214</a> </p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="img">
                            <i class="icon-placeholder"></i>
                        </div>
                        <div class="text">
                            <div class="title">Address</div>
                            <p>Naberezhnaya zdorovya 12, 61001, Kharkov, Ukraine</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4  col-md-6 hidden-sm hidden-xs">
                <div class="content">
                    <div class="title">Let’s perform your idea now!</div>
                    <div class="text">Don’t hesitate to contact us! There is a big probability we are the ones who you need to create your project successfully. Write us today, and maybe tomorrow we will start creating awesome things with you.</div>
                    <a href="/estimates/new/" class="btn btn-blue">Get in touch!</a>
                </div>
            </div>
            <div class="col-lg-3 col-lg-offset-1 col-md-12">
                <div class="social-wrapper">
                    <a href="/">
                        <img src="/assets/logo-grey.svg" class="logo">
                    </a>

                    <div class="title">Follow Us</div>
                    <p>More information about us you found on Behance, dribbble, Upwork. We appreciate you are following us!</p>

                    <ul class="socials">
                        <%=  render @socials %>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="copy">
        <div class="container">
            © 2013-2017 DEV 3. All rights reserved.
        </div>
    </div>
</footer>
</body>
</html>